# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
*.atsuo
/TestSimpleMCU\Debug/TestSimpleMCU.d
/TestSimpleMCU\Debug/TestSimpleMCU.eep
/TestSimpleMCU\Debug/TestSimpleMCU.elf
/TestSimpleMCU\Debug/TestSimpleMCU.hex
/TestSimpleMCU\Debug/TestSimpleMCU.lss
/TestSimpleMCU\Debug/TestSimpleMCU.map
/TestSimpleMCU\Debug/TestSimpleMCU.srec
/TestSimpleMCU\Release/TestSimpleMCU.d
/TestSimpleMCU\Release/TestSimpleMCU.eep
/TestSimpleMCU\Release/TestSimpleMCU.elf
/TestSimpleMCU\Release/TestSimpleMCU.hex
/TestSimpleMCU\Release/TestSimpleMCU.lss
/TestSimpleMCU\Release/TestSimpleMCU.map
/TestSimpleMCU\Release/TestSimpleMCU.srec
